/*----------------------------------------------
*
* [Theme Blue Stylesheet]
*
* Theme    : Leverage - Creative Agency, Corporate and Portfolio. Multipurpose Theme.
* Version  : 1.1.0
* Author   : Codings
* Support  : adm.codings@gmail.com
* 
----------------------------------------------*/

/*----------------------------------------------

[ALL CONTENTS]

1. Root
2. RoFeatureot

----------------------------------------------*/

/*----------------------------------------------
1. Root
----------------------------------------------*/

/* #region Root */

:root {
    
    --primary-color: #0075f2;
    --secondary-color: #26ffe6;
}

/* #endregion Root */