/**
Theme Name: Leverage Child
Theme URI: https://leverage.codings.dev/wordpress
Author: Codings
Author URI: https://codings.dev
Description: Leverage Child Theme for Advanced Users.
Tags: blog, e-commerce, portfolio, grid-layout, right-sidebar, custom-header, custom-logo, custom-menu, editor-style, featured-images, flexible-header, footer-widgets, theme-options
Text Domain: leverage-child
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Template: leverage

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Leverage is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.
*/

/*----------------------------------------------
*
* If you activated the Child Theme, the styles placed here will work.
* 
----------------------------------------------*/